@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 62.5%;
}